@page
@model SportsStore_Spr2026.Pages.Products.CreateModel
@{
    //add the reference to the create product stored procedure in product repository
    //we need to use a form to submit the new product data to the server
    //to do that we can use whats called input boxes , which are html elements that allow the user to enter data
    //some of the input boxes that we have available are text boxes, which allow the user to enter a single line of text
    //forms function as containers for input elements, and they also provide a way to submit the data to the server when the user is done entering it
    //the class refers to the styling of the form, and the id is used to identify the form element in the html document
    //we need to add product properties to the form, so that we can bind the data to the product model when the form is submitted
    //to add the properties so asp-for can recognize them we need to add 

    <form method="post">
    
        <div class="form-group">
            <label>Name</label>
            <input type ="text" class="form-control" id="Name" asp-for="product.Name" required />
         
        
        
        
        </div>
    
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="Description" asp-for="product.Description" required />
         
        
        
        
        </div>
    
        <div class="form-group">
            <label>Price</label>
            <input type="number" step="0.01" class="form-control" id="Price" asp-for="product.Price" required />
        </div>

        <div class="form-group">
            <label>Thumbnail</label>
            <input type="text" class="form-control" id="Thumbnail" asp-for="product.thumbnail" required />
         
        
        
        
        </div>


        <div class="form-group">
            <label>Image</label>
            <input type="text" class="form-control" id="Image" asp-for="product.image" required />
         
        
        
        
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="PromoFront" asp-for="product.PromoFront" />
            <label class="form-check-label" for="PromoFront">Promo Front</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="PromoFront" asp-for="product.PromoFront" />
            <label class="form-check-label" for="PromoFront">Promo Front</label>
        </div>


        <button type="submit" class="btn btn-primary">Add Product</button>
    
    
    </form>
}
